main {
    display: flex;
    flex-direction: row;
    width: 1600px;
    transform: translate3d(0, 0, 0);
}

main img {
    width: 400px;
    height: 250px;
}

.back{
    background-color: skyblue;
    margin-left: -1600px;
}

.next{
    background-color: skyblue;
    margin-left: 350px;
}

.slide {
    background-color: aqua;
}


.volgende {
    margin-left: -400px;
}